<button (click)="toggleEditMode()" class="btn btn-success">Edit</button>
<h1 *ngIf="!isInEditMode">Tytuł: {{post.title}}</h1>
<input *ngIf="isInEditMode" type="text" [(ngModel)] = "post.title"/>
<h2>Data dodania: {{post.date | date: 'shortDate'}}</h2>
<span>Treść: {{post.content}}</span>
<h2>Komentarze:</h2>
<ul>
    <li *ngFor="let comment of post.comments">
        <h2>{{comment.nick}} on {{comment.date | date: 'shortDate'}} wroted:</h2>
        <p>{{comment.content}}</p>
    </li>
</ul>

<button *ngIf="!isAddNewCommentActive" (click)="toggleAddNewComment()" class="btn btn-success">Add new comment</button>

<div *ngIf="isAddNewCommentActive" class="container">
    <hr>
        <h2>Add new comment</h2>
        <form (ngSubmit)="addNewComment(tempNick, tempContent)">
          <div class="form-group">
            <label for="nick">Nick</label>
            <input type="text" class="form-control" name="tempNick" id="tempNick" [(ngModel)] = "tempNick">
          </div>
    
          <div class="form-group">
            <label for="content">Comment</label>
            <input type="text" class="form-control" name="tempContent" id="tempContent" [(ngModel)] = "tempContent">
          </div>
    
          <button type="submit" class="btn btn-success">Add new comment</button>
    
        </form>
    </div>